@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  @apply bg-e6e6e6 m-0 font-spartan text-gray-900;
}

code {
  @apply font-mono;
}

/* NavBar container styles */
.navbar {
  @apply bg-[#B59A57] transition-all duration-300 ease-in-out py-4; /* Increased vertical padding */
}

/* Link styles */
.nav-link {
  @apply px-6 py-3 text-xl rounded-lg transition-all duration-300 ease-in-out; /* Increased padding and font size */
}

.nav-link:hover {
  @apply bg-white text-[#B59A57];
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  @apply font-bold;
}
/* Name */
#name {
  @apply text-7xl text-[#B59A57] font-bold mb-8;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  position: absolute;
  top: 20%;
  left: 15%;
}
#title{
  @apply text-5xl text-[#B59A57] font-bold mb-3;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  position: absolute;
  top: 30%;
  left: 20%;
}
.mrpic{
  
  width: 100%;
  height: auto;
  position: relative;
  text-align: center;
  color: white;
}
/* .special1{
  position: absolute;
  top: 20%;
  left: 15%;
}
.special2{
  position: absolute;
  top: 30%;
  left: 20%;
} */

@keyframes slideInDown {
  from {
    transform: translateY(-200%); /* starts off-screen */
    opacity: 0;
  }
  to {
    transform: translateY(0); /* ends at its original position */
    opacity: 1;
  }
}

.animate-slideInDown {
  animation-name: slideInDown;
  animation-duration: 2s;
  animation-fill-mode: forwards; 
}



/* Animation to fade in text */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation-name: fadeIn;
  animation-duration: 2s;
}

.animation-delay-2s {
  animation-delay: 2s;
}
.pb-full {
  padding-bottom: 100%;
}



h1 {
  @apply text-6xl text-[#B59A57] mt-8 mb-4;
}



h2 {
  @apply text-5xl text-[#B59A57] mt-6 mb-3;
}

h3 {
  @apply text-2xl  mt-5 mb-2;
}

/* Paragraphs and general text content */
p {
  @apply text-lg my-4 leading-relaxed;
}

/* Container for each section of the website (e.g. Education, Experience, etc.) */
.section {
  @apply p-4 rounded-lg bg-white shadow-md my-4;
}

/* Bullet points or lists */
ul {
  @apply list-decimal pl-5;
}

li {
  @apply my-2;
}

